<a href="https://colab.research.google.com/github/NSasiV/github-slideshow/blob/master/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World")

In [ ]:
print("0----")
print(" ||||")

0----
 ||||

In [ ]:
print("sasi")
print('*' * 10)

sasi
**********

In [ ]:
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
for i in range(1,10,2):
    print(i,end=' ')

1 3 5 7 9

Basic Data Types int, float, string and boolean

In [ ]:
patient_name="John"
patient_age=20
patient_new=True

In [ ]:
name=input("What is your name? ")
color=input('What is your fav color')
print(name + " likes " + color)

What is your name? D
What is your fav colorblack
D likes black

String to Int

In [ ]:
birth_year=int(input("Enter year of birth: "))
age=2021-birth_year
print(age)

Enter year of birth: 1983
38

Type of Method

In [ ]:
type(age)

int

In [ ]:
weight_lbs=int(input("Enter weight(lbs): "))
weight_kg=weight_lbs * 0.45
print(weight_kg)

Enter weight(lbs): 90
40.5

string ' "

In [ ]:
msg="it's ok!!!"
msg

"it's ok!!!"

Multi line string '''

In [ ]:
msg='''
hi
hello
how are you?'''
msg

'\nhi\nhello\nhow are you?'

In [ ]:
msg='Python program'
print(msg[0:3])

Pyt

In [ ]:
print(msg[0:-1])

Python progra

In [ ]:
print(msg[::-1])

margorp nohtyP

Formatted String prefix string with letter f and add place holders

In [ ]:
first = 'sasi'
last = 'N'
msg=f'{first} . {last} is dangerous'
print(msg)

sasi . N is dangerous

String Operations

In [ ]:
course='Python for beginners'
print(len(course))
print(course.upper())
print(course)
print(course.lower())
print(course.find('P'))
print(course.find('O'))
print(course.find('o'))
print(course.find('beginners'))
print(course.replace('beginners','absolute beginners'))
print('Python' in course)
print(course.title())

20
PYTHON FOR BEGINNERS
Python for beginners
python for beginners
0
-1
4
11
Python for absolute beginners
True
Python For Beginners

Arithmetic Operator

In [ ]:
# Examples of Arithmetic Operator
a = 9
b = 4

# Addition of numbers
add = a + b

# Subtraction of numbers
sub = a - b

# Multiplication of number
mul = a * b

# Division(float) of number
div1 = a / b

# Division(floor) of number
div2 = a // b

# Modulo of both number
mod = a % b

# Power
p = a ** b

# print results
print(add)
print(sub)
print(mul)
print(div1)
print(div2)
print(mod)
print(p)

13
5
36
2.25
2
1
6561

Relational Operators

In [ ]:
# Examples of Relational Operators
a = 13
b = 33

# a > b is False
print(a > b)

# a < b is True
print(a < b)

# a == b is False
print(a == b)

# a != b is True
print(a != b)

# a >= b is False
print(a >= b)

# a <= b is True
print(a <= b)

False
True
False
True
False
True

Logical operators

In [ ]:
# Examples of Logical Operator
a = True
b = False

# Print a and b is False
print(a and b)

# Print a or b is True
print(a or b)

# Print not a is False
print(not a)

print(a and not b)

False
True
False
True

Bitwise operators

In [ ]:
# Examples of Bitwise operators
a = 10
b = 4

# Print bitwise AND operation
print(a & b)

# Print bitwise OR operation
print(a | b)

# Print bitwise NOT operation
print(~a)

# print bitwise XOR operation
print(a ^ b)

# print bitwise right shift operation
print(a >> 2)

# print bitwise left shift operation
print(a << 2)

0
14
-11
14
2
40

Assignment operators

Identity operators

In [ ]:
# Examples of Identity operators
a1 = 3
b1 = 3
a2 = 'GeeksforGeeks'
b2 = 'GeeksforGeeks'
a3 = [1,2,3]
b3 = [1,2,3]


print(a1 is not b1)


print(a2 is b2)

# Output is False, since lists are mutable.
print(a3 is b3)

False
True
False

Membership operators

In [ ]:
# Examples of Membership operator
x = 'Geeks for Geeks'
y = {3:'a',4:'b'}


print('G' in x)

print('geeks' not in x)

print('Geeks' not in x)

print(3 in y)

print('b' in y)

True
True
False
True
False

Operator Precedence

In [ ]:
# Examples of Operator Precedence

# Precedence of '+' & '*'
expr = 10 + 20 * 30
print(expr)

# Precedence of 'or' & 'and'
name = "Alex"
age = 0
	
if name == "Alex" or name == "John" and age >= 2 :
	print("Hello! Welcome.")
else :
	print("Good Bye!!")

610
Good Bye!!

Operator Associativity

In [ ]:
# Examples of Operator Associativity

# Left-right associativity
# 100 / 10 * 10 is calculated as
# (100 / 10) * 10 and not
# as 100 / (10 * 10)
print(100 / 10 * 10)
	
# Left-right associativity
# 5 - 2 + 3 is calculated as
# (5 - 2) + 3 and not
# as 5 - (2 + 3)
print(5 - 2 + 3)
	
# left-right associativity
print(5 - (2 + 3))
	
# right-left associativity
# 2 ** 3 ** 2 is calculated as
# 2 ** (3 ** 2) and not
# as (2 ** 3) ** 2
print(2 ** 3 ** 2)

![PythonOprtr.PNG]()

Python 3 math module

https://docs.python.org/3/library/math.html

Constants provided by the math module are – 

Euler’s Number
Pi
Tau
Infinity
Not a Number (NaN)

In [ ]:
# Import math Library
import math

# Print the value of Euler e
print (math.e)

2.718281828459045

In [ ]:
# Import math Library
import math

# Print the value of pi
print (math.pi)

3.141592653589793

In [ ]:
# Import math Library
import math

# radius of the circle
r = 4

# value of pie
pie = math.pi

# area of the circle
print(pie * r * r)

In [ ]:
# Import math Library
import math

# Print the value of tau
print (math.tau)

In [ ]:
# Import math Library
import math

# Print the positive infinity
print (math.inf)

# Print the negative infinity
print (-math.inf)

In [ ]:
# Import math Library
import math

# Print the value of nan
print (math.nan)

In [ ]:
# Python code to demonstrate the working of
# ceil() and floor()

# importing "math" for mathematical operations
import math

a = 2.3

# returning the ceil of 2.3
print ("The ceil of 2.3 is : ", end="")
print (math.ceil(a))

# returning the floor of 2.3
print ("The floor of 2.3 is : ", end="")
print (math.floor(a))

The ceil of 2.3 is : 3
The floor of 2.3 is : 2

In [ ]:
# Python code to demonstrate the working of
# factorial()

# importing "math" for mathematical operations
import math

a = 5

# returning the factorial of 5
print("The factorial of 5 is : ", end="")
print(math.factorial(a))

The factorial of 5 is : 120

In [ ]:
# Python code to demonstrate the working of
# gcd()

# importing "math" for mathematical operations
import math

a = 15
b = 5

# returning the gcd of 15 and 5
print ("The gcd of 5 and 15 is : ", end="")
print (math.gcd(b, a))

In [ ]:
# Python code to demonstrate the working of
# fabs()

# importing "math" for mathematical operations
import math

a = -10

# returning the absolute value.
print ("The absolute value of -10 is : ", end="")
print (math.fabs(a))

The absolute value of -10 is : 10.0

In [ ]:
# Python3 code to demonstrate
# the working of exp()
import math

# initializing the value
test_int = 4
test_neg_int = -3
test_float = 0.00

# checking exp() values
# with different numbers
print (math.exp(test_int))
print (math.exp(test_neg_int))
print (math.exp(test_float))

54.598150033144236
0.049787068367863944
1.0

In [ ]:
# Python code to demonstrate pow()
# version 1

print ("The value of 3**4 is : ",end="")

# Returns 81
print (pow(3,4))

The value of 3**4 is : 81

In [ ]:
# Python code to demonstrate the working of
# logarithm

# importing "math" for mathematical operations
import math


# returning the log of 2,3
print ("The value of log 2 with base 3 is : ", end="")
print (math.log(2,3))

# returning the log2 of 16
print ("The value of log2 of 16 is : ", end="")
print (math.log2(16))
	
# returning the log10 of 10000
print ("The value of log10 of 10000 is : ", end="")
print (math.log10(10000))

In [ ]:
# Python3 program to demonstrate the
# sqrt() method

# import the math module
import math

# print the square root of 0
print(math.sqrt(0))

# print the square root of 4
print(math.sqrt(4))

# print the square root of 3.5
print(math.sqrt(3.5))

In [ ]:
# Python code to demonstrate the working of
# sin(), cos(), and tan()

# importing "math" for mathematical operations
import math

a = math.pi/6

# returning the value of sine of pi/6
print ("The value of sine of pi/6 is : ", end="")
print (math.sin(a))

# returning the value of cosine of pi/6
print ("The value of cosine of pi/6 is : ", end="")
print (math.cos(a))

# returning the value of tangent of pi/6
print ("The value of tangent of pi/6 is : ", end="")
print (math.tan(a))

In [ ]:
# Python code to demonstrate the working of
# degrees() and radians()

# importing "math" for mathematical operations
import math

a = math.pi/6
b = 30

# returning the converted value from radians to degrees
print ("The converted value from radians to degrees is : ", end="")
print (math.degrees(a))

# returning the converted value from degrees to radians
print ("The converted value from degrees to radians is : ", end="")
print (math.radians(b))

Decision making statements available in python are:

if statement

if..else statements

nested if statements

if-elif ladder

Short Hand if statement

Short Hand if-else statement

In [ ]:
# python program to illustrate If statement

i = 10
if (i > 15):
    print ("10 is less than 15")
print ("I am Not in if")

I am Not in if

In [ ]:
# python program to illustrate If else statement
#!/usr/bin/python

i = 20;
if (i < 15):
	print ("i is smaller than 15")
	print ("i'm in if Block")
else:
	print ("i is greater than 15")
	print ("i'm in else Block")
print ("i'm not in if and not in else Block")

i is greater than 15
i'm in else Block
i'm not in if and not in else Block

In [ ]:
# python program to illustrate nested If statement
#!/usr/bin/python
i = 10
if (i == 10):
	# First if statement
	if (i < 15):
		print ("i is smaller than 15")
	# Nested - if statement
	# Will only be executed if statement above
	# it is true
	if (i < 12):
		print ("i is smaller than 12 too")
	else:
		print ("i is greater than 15")

i is smaller than 15
i is smaller than 12 too

In [ ]:
# Python program to illustrate if-elif-else ladder
#!/usr/bin/python

i = 20
if (i == 10):
	print ("i is 10")
elif (i == 15):
	print ("i is 15")
elif (i == 20):
	print ("i is 20")
else:
	print ("i is not present")

i is 20

In [ ]:
# Python program to illustrate short hand if
i = 10
if i < 15: print("i is less than 15")

In [ ]:
# Python program to illustrate short hand if-else
i = 10
print(True) if i < 15 else print(False)

loops in python

In [ ]:
# Python program to illustrate
# while loop
count = 0
while (count < 3):
	count = count + 1
	print("Hello Geek")

Hello Geek
Hello Geek
Hello Geek

In [ ]:
#Python program to illustrate
# combining else with while
count = 0
while (count < 3):
	count = count + 1
	print("Hello Geek")
else:
	print("In Else Block")

Hello Geek
Hello Geek
Hello Geek
In Else Block

In [ ]:
# Python program to illustrate
# Single statement while block
count = 0
while (count == 0): print("Hello Geek")

In [ ]:
# Python program to illustrate
# Iterating over range 0 to n-1

n = 4
for i in range(0, n):
	print(i)

1
2
3

In [ ]:
# Python program to illustrate
# Iterating over a list
print("List Iteration")
l = ["geeks", "for", "geeks"]
for i in l:
	print(i)
	
# Iterating over a tuple (immutable)
print("\nTuple Iteration")
t = ("geeks", "for", "geeks")
for i in t:
	print(i)
	
# Iterating over a String
print("\nString Iteration")
s = "Geeks"
for i in s :
	print(i)
	
# Iterating over dictionary
print("\nDictionary Iteration")
d = dict()
d['xyz'] = 123
d['abc'] = 345
for i in d :
	print("%s %d" %(i, d[i]))

List Iteration
geeks
for
geeks

Tuple Iteration
geeks
for
geeks

String Iteration
G
e
e
k
s

Dictionary Iteration
xyz 123
abc 345

In [ ]:
# Python program to illustrate
# Iterating by index

list = ["geeks", "for", "geeks"]
for index in range(len(list)):
	print (list[index])

geeks
for
geeks

In [ ]:
# Python program to illustrate
# combining else with for

list = ["geeks", "for", "geeks"]
for index in range(len(list)):
	print list[index]
else:
	print "Inside Else Block"

In [ ]:
# Python program to illustrate
# nested for loops in Python
from __future__ import print_function
for i in range(1, 5):
	for j in range(i):
		print(i, end=' ')
	print()

1
2 2
3 3 3
4 4 4 4

In [ ]:
# Prints all letters except 'e' and 's'
for letter in 'geeksforgeeks':
	if letter == 'e' or letter == 's':
		continue
	print ('Current Letter :', letter)
	var = 10

Current Letter : g

In [ ]:
for letter in 'geeksforgeeks':

	# break the loop as soon it sees 'e'
	# or 's'
	if letter == 'e' or letter == 's':
		break

print 'Current Letter :', letter

In [ ]:
# An empty loop
for letter in 'geeksforgeeks':
	pass
print ('Last Letter :', letter)

Last Letter : s

In [ ]:
fruits = ["apple", "orange", "kiwi"]

# Creating an iterator object
# from that iterable i.e fruits
iter_obj = iter(fruits)

# Infinite while loop
while True:
    try:
	
	# getting the next item
    	fruit = next(iter_obj)
    	print(fruit)
    except StopIteration:
		
	# if StopIteration is raised,
	# break from loop
	    break

apple
orange
kiwi

Python range() function

In [ ]:
# Python Program to
# show range() basics

# printing a number
for i in range(10):
	print(i, end =" ")
print()

# using range for iteration
l = [10, 20, 30, 40]
for i in range(len(l)):
	print(l[i], end =" ")
print()

# performing sum of natural
# number
sum = 0
for i in range(1, 11):
	sum = sum + i
print("Sum of first 10 natural number :", sum)

0 1 2 3 4 5 6 7 8 9
10 20 30 40
Sum of first 10 natural number : 55

In [ ]:
# Python program to
# print whole number
# using range()

# printing first 10
# whole number
for i in range(10):
	print(i, end =" ")
print()

# printing first 20
# whole number
for i in range(20):
	print(i, end = " ")

In [ ]:
# Python program to
# print natural number
# using range

# printing a natural
# number upto 20
for i in range(1, 20):
	print(i, end =" ")
print()

# printing a natural
# number from 5 t0 20
for i in range(5, 20):
	print(i, end =" ")

In [ ]:
# Python program to
# print all number
# divisible by 3 and 5

# using range to print number
# divisible by 3
for i in range(0, 30, 3):
	print(i, end = " ")
print()

# using range to print number
# divisible by 5
for i in range(0, 50, 5):
	print(i, end = " ")

0
0 5 10 15 20 25 30 35 40 45

In [ ]:
# Python program to
# increment with
# range()

# incremented by 2
for i in range(2, 25, 2):
	print(i, end =" ")
print()

# incremented by 4
for i in range(0, 30, 4):
	print(i, end =" ")
print()

# incremented by 3
for i in range(15, 25, 3):
	print(i, end =" ")

2 4 6 8 10 12 14 16 18 20 22 24
0 4 8 12 16 20 24 28
15 18 21 24

In [ ]:
# Python program to
# decrement with
# range()

# incremented by -2
for i in range(25, 2, -2):
	print(i, end =" ")
print()

# incremented by -4
for i in range(30, 1, -4):
	print(i, end =" ")
print()

# incremented by -3
for i in range(25, -6, -3):
	print(i, end =" ")

25 23 21 19 17 15 13 11 9 7 5 3
30 26 22 18 14 10 6 2
25 22 19 16 13 10 7 4 1 -2 -5

In [ ]:
# Python program to concatenate
# the result of two range functions


from itertools import chain


# Using chain method
print("Concatenating the result")
res = chain(range(5), range(10, 20, 2))

for i in res:
	print(i, end=" ")

In [ ]:
# Python program to demonstrate
# range function


ele = range(10)[0]
print("First element:", ele)

ele = range(10)[-1]
print("\nLast element:", ele)

ele = range(10)[4]
print("\nFifth element:", ele)

LISTS [ . . . ]

In [ ]:
# Python program to demonstrate
# Creation of List

# Creating a List
List = []
print("Blank List: ")
print(List)

# Creating a List of numbers
List = [10, 20, 14]
print("\nList of numbers: ")
print(List)

# Creating a List of strings and accessing
# using index
List = ["Geeks", "For", "Geeks"]
print("\nList Items: ")
print(List[0])
print(List[2])

# Creating a Multi-Dimensional List
# (By Nesting a list inside a List)
List = [['Geeks', 'For'] , ['Geeks']]
print("\nMulti-Dimensional List: ")
print(List)

In [ ]:
# Creating a List with
# the use of Numbers
# (Having duplicate values)
List = [1, 2, 4, 4, 3, 3, 3, 6, 5]
print("\nList with the use of Numbers: ")
print(List)

# Creating a List with
# mixed type of values
# (Having numbers and strings)
List = [1, 2, 'Geeks', 4, 'For', 6, 'Geeks']
print("\nList with the use of Mixed Values: ")
print(List)

In [ ]:
# Creating a List
List1 = []
print(len(List1))

# Creating a List of numbers
List2 = [10, 20, 14]
print(len(List2))

In [ ]:
# Python program to demonstrate
# Addition of elements in a List

# Creating a List
List = []
print("Initial blank List: ")
print(List)

# Addition of Elements
# in the List
List.append(1)
List.append(2)
List.append(4)
print("\nList after Addition of Three elements: ")
print(List)

# Adding elements to the List
# using Iterator
for i in range(1, 4):
	List.append(i)
print("\nList after Addition of elements from 1-3: ")
print(List)

# Adding Tuples to the List
List.append((5, 6))
print("\nList after Addition of a Tuple: ")
print(List)

# Addition of List to a List
List2 = ['For', 'Geeks']
List.append(List2)
print("\nList after Addition of a List: ")
print(List)

In [ ]:
# Python program to demonstrate
# Addition of elements in a List

# Creating a List
List = [1,2,3,4]
print("Initial List: ")
print(List)

# Addition of Element at
# specific Position
# (using Insert Method)
List.insert(3, 12)
List.insert(0, 'Geeks')
print("\nList after performing Insert Operation: ")
print(List)

In [ ]:
# Python program to demonstrate
# Addition of elements in a List
	
# Creating a List
List = [1,2,3,4]
print("Initial List: ")
print(List)

# Addition of multiple elements
# to the List at the end
# (using Extend Method)
List.extend([8, 'Geeks', 'Always'])
print("\nList after performing Extend Operation: ")
print(List)

In [ ]:
# Python program to demonstrate
# accessing of element from list

# Creating a List with
# the use of multiple values
List = ["Geeks", "For", "Geeks"]

# accessing a element from the
# list using index number
print("Accessing a element from the list")
print(List[0])
print(List[2])

# Creating a Multi-Dimensional List
# (By Nesting a list inside a List)
List = [['Geeks', 'For'] , ['Geeks']]

# accessing an element from the
# Multi-Dimensional List using
# index number
print("Accessing a element from a Multi-Dimensional list")
print(List[0][1])
print(List[1][0])

In [ ]:
List = [1, 2, 'Geeks', 4, 'For', 6, 'Geeks']

# accessing a element using
# negative indexing
print("Accessing element using negative indexing")

# print the last element of list
print(List[-1])

# print the third last element of list
print(List[-3])

In [ ]:
# Python program to demonstrate
# Removal of elements in a List

# Creating a List
List = [1, 2, 3, 4, 5, 6,
		7, 8, 9, 10, 11, 12]
print("Initial List: ")
print(List)

# Removing elements from List
# using Remove() method
List.remove(5)
List.remove(6)
print("\nList after Removal of two elements: ")
print(List)

# Removing elements from List
# using iterator method
for i in range(1, 5):
	List.remove(i)
print("\nList after Removing a range of elements: ")
print(List)

In [ ]:
List = [1,2,3,4,5]

# Removing element from the
# Set using the pop() method
List.pop()
print("\nList after popping an element: ")
print(List)

# Removing element at a
# specific location from the
# Set using the pop() method
List.pop(2)
print("\nList after popping a specific element: ")
print(List)

In [ ]:
# Python program to demonstrate
# Removal of elements in a List

# Creating a List
List = ['G','E','E','K','S','F',
		'O','R','G','E','E','K','S']
print("Initial List: ")
print(List)

# Print elements of a range
# using Slice operation
Sliced_List = List[3:8]
print("\nSlicing elements in a range 3-8: ")
print(Sliced_List)

# Print elements from a
# pre-defined point to end
Sliced_List = List[5:]
print("\nElements sliced from 5th "
	"element till the end: ")
print(Sliced_List)

# Printing elements from
# beginning till end
Sliced_List = List[:]
print("\nPrinting all elements using slice operation: ")
print(Sliced_List)

In [ ]:
# Creating a List
List = ['G','E','E','K','S','F',
		'O','R','G','E','E','K','S']
print("Initial List: ")
print(List)

# Print elements from beginning
# to a pre-defined point using Slice
Sliced_List = List[:-6]
print("\nElements sliced till 6th element from last: ")
print(Sliced_List)

# Print elements of a range
# using negative index List slicing
Sliced_List = List[-6:-1]
print("\nElements sliced from index -6 to -1")
print(Sliced_List)

# Printing elements in reverse
# using Slice operation
Sliced_List = List[::-1]
print("\nPrinting List in reverse: ")
print(Sliced_List)

In [ ]:
# Python program to demonstrate list
# comprehension in Python
	
# below list contains square of all
# odd numbers from range 1 to 10
odd_square = [x ** 2 for x in range(1, 11) if x % 2 == 1]
print (odd_square)

In [ ]:
# Python3 program to count the number of times
# an object appears in a list using count() method

list1 = [1, 1, 1, 2, 3, 2, 1]

# Counts the number of times 1 appears in list1
print(list1.count(1))

list2 = ['a', 'a', 'a', 'b', 'b', 'a', 'c', 'b']

# Counts the number of times 'b' appears in list2
print(list2.count('b'))

list3 = ['Cat', 'Bat', 'Sat', 'Cat', 'cat', 'Mat']

# Counts the number of times 'Cat' appears in list3
print(list3.count('Cat'))

In [ ]:
numbers = [1, 3, 4, 2]

# Sorting list of Integers in ascending
numbers.sort()

print(numbers)

In [ ]:
strs = ["geeks", "code", "ide", "practice"]

# Sorting list of Integers in ascending
strs.sort()

print(strs)

In [ ]:
numbers = [1, 3, 4, 2]

# Sorting list of Integers in descending
numbers.sort(reverse = True)

print(numbers)

In [ ]:
# Python program to demonstrate sorting by user's
# choice

# function to return the second element of the
# two elements passed as the parameter
def sortSecond(val):
	return val[1]

# list1 to demonstrate the use of sorting
# using using second key
list1 = [(1, 2), (3, 3), (1, 1)]

# sorts the array in ascending according to
# second element
list1.sort(key = sortSecond)
print(list1)

# sorts the array in descending according to
# second element
list1.sort(key = sortSecond, reverse = True)
print(list1)

In [ ]:
# Python 3 code to demonstrate
# working of list.copy()

# Initializing list
lis1 = [ 1, 2, 3, 4 ]

# Using copy() to create a shallow copy
lis2 = lis1.copy()

# Printing new list
print ("The new list created is : " + str(lis2))

# Adding new element to new list
lis2.append(5)

# Printing lists after adding new element
# No change in old list
print ("The new list after adding new element : " + str(lis2))
print ("The old list after adding new element to new list : " + str(lis1))

Multi-dimensional lists in Python

In [ ]:
# Python program to demonstrate printing
# of complete multidimensional list
a = [[2, 4, 6, 8, 10], [3, 6, 9, 12, 15], [4, 8, 12, 16, 20]]
print(a)

In [ ]:
# Python program to demonstrate printing
# of complete multidimensional list row
# by row.
a = [[2, 4, 6, 8, 10], [3, 6, 9, 12, 15], [4, 8, 12, 16, 20]]
for record in a:
	print(record)

In [ ]:
# Python program to demonstrate that we
# can access multidimensional list using
# square brackets
a = [ [2, 4, 6, 8 ],
	[ 1, 3, 5, 7 ],
	[ 8, 6, 4, 2 ],
	[ 7, 5, 3, 1 ] ]
		
for i in range(len(a)) :
	for j in range(len(a[i])) :
		print(a[i][j], end=" ")
	print()

In [ ]:
# Python program to create a m x n matrix
# with all 0s
m = 4
n = 5

a = [[0 for x in range(n)] for x in range(m)]
print(a)

In [ ]:
# Adding a sublist

a = [[2, 4, 6, 8, 10], [3, 6, 9, 12, 15], [4, 8, 12, 16, 20]]
a.append([5, 10, 15, 20, 25])
print(a)

In [ ]:
# Extending a sublist

a = [[2, 4, 6, 8, 10], [3, 6, 9, 12, 15], [4, 8, 12, 16, 20]]
a[0].extend([12, 14, 16, 18])
print(a)

In [ ]:
# Reversing a sublist

a = [[2, 4, 6, 8, 10], [3, 6, 9, 12, 15], [4, 8, 12, 16, 20]]
a[2].reverse()
print(a)

Tuples - Immutable ( . . . )

In [ ]:
# An empty tuple
empty_tuple = ()
print (empty_tuple)

In [ ]:
# Creating non-empty tuples

# One way of creation
tup = 'python', 'geeks'
print(tup)

# Another for doing the same
tup = ('python', 'geeks')
print(tup)

In [ ]:
# Code for concatenating 2 tuples

tuple1 = (0, 1, 2, 3)
tuple2 = ('python', 'geek')

# Concatenating above two
print(tuple1 + tuple2)

In [ ]:
# Code for creating nested tuples

tuple1 = (0, 1, 2, 3)
tuple2 = ('python', 'geek')
tuple3 = (tuple1, tuple2)
print(tuple3)

In [ ]:
# Code to create a tuple with repetition

tuple3 = ('python',)*3
print(tuple3)

In [ ]:
#code to test that tuples are immutable

tuple1 = (0, 1, 2, 3)
tuple1[0] = 4
print(tuple1)

In [ ]:
# code to test slicing

tuple1 = (0 ,1, 2, 3)
print(tuple1[1:])
print(tuple1[::-1])
print(tuple1[2:4])

In [ ]:
# Code for deleting a tuple

tuple3 = ( 0, 1)
del tuple3
print(tuple3)

In [ ]:
# Code for printing the length of a tuple

tuple2 = ('python', 'geek')
print(len(tuple2))

In [ ]:
# Code for converting a list and a string into a tuple

list1 = [0, 1, 2]
print(tuple(list1))
print(tuple('python')) # string 'python'

In [ ]:
#python code for creating tuples in a loop

tup = ('geek',)
n = 5 #Number of time loop runs
for i in range(int(n)):
	tup = (tup,)
	print(tup)

In [ ]:
# A python program to demonstrate the use of
# cmp(), max(), min()

tuple1 = ('python', 'geek')
tuple2 = ('coder', 1)

if (cmp(tuple1, tuple2) != 0):

	# cmp() returns 0 if matched, 1 when not tuple1
	# is longer and -1 when tuple1 is shoter
	print('Not the same')
else:
	print('Same')
print ('Maximum element in tuples 1,2: ' +
		str(max(tuple1)) + ',' +
		str(max(tuple2)))
print ('Minimum element in tuples 1,2: ' +
	str(min(tuple1)) + ',' + str(min(tuple2)))

In [ ]:
# Python3 code to study about
# unpacking python tuple using *

# first and last will be assigned to x and z
# remaining will be assigned to y
x, *y, z = (10, "Geeks ", " for ", "Geeks ", 50)

# print details
print(x)
print(y)
print(z)

# first and second will be assigned to x and y
# remaining will be assigned to z
x, y, *z = (10, "Geeks ", " for ", "Geeks ", 50)
print(x)
print(y)
print(z)

Dictionary { . . . } Key value pair 

Key - unique

In [ ]:
# Creating a Dictionary
# with Integer Keys
Dict = {1: 'Geeks', 2: 'For', 3: 'Geeks'}
print("\nDictionary with the use of Integer Keys: ")
print(Dict)

# Creating a Dictionary
# with Mixed keys
Dict = {'Name': 'Geeks', 1: [1, 2, 3, 4]}
print("\nDictionary with the use of Mixed Keys: ")
print(Dict)

In [ ]:
# Creating an empty Dictionary
Dict = {}
print("Empty Dictionary: ")
print(Dict)

# Creating a Dictionary
# with dict() method
Dict = dict({1: 'Geeks', 2: 'For', 3:'Geeks'})
print("\nDictionary with the use of dict(): ")
print(Dict)

# Creating a Dictionary
# with each item as a Pair
Dict = dict([(1, 'Geeks'), (2, 'For')])
print("\nDictionary with each item as a pair: ")
print(Dict)

In [ ]:
# Creating a Nested Dictionary
# as shown in the below image
Dict = {1: 'Geeks', 2: 'For',
		3:{'A' : 'Welcome', 'B' : 'To', 'C' : 'Geeks'}}

print(Dict)

In [ ]:
# Creating an empty Dictionary
Dict = {}
print("Empty Dictionary: ")
print(Dict)

# Adding elements one at a time
Dict[0] = 'Geeks'
Dict[2] = 'For'
Dict[3] = 1
print("\nDictionary after adding 3 elements: ")
print(Dict)

# Adding set of values
# to a single Key
Dict['Value_set'] = 2, 3, 4
print("\nDictionary after adding 3 elements: ")
print(Dict)

# Updating existing Key's Value
Dict[2] = 'Welcome'
print("\nUpdated key value: ")
print(Dict)

# Adding Nested Key value to Dictionary
Dict[5] = {'Nested' :{'1' : 'Life', '2' : 'Geeks'}}
print("\nAdding a Nested Key: ")
print(Dict)

In [ ]:
# Python program to demonstrate
# accessing a element from a Dictionary

# Creating a Dictionary
Dict = {1: 'Geeks', 'name': 'For', 3: 'Geeks'}

# accessing a element using key
print("Accessing a element using key:")
print(Dict['name'])

# accessing a element using key
print("Accessing a element using key:")
print(Dict[1])

In [ ]:
# Creating a Dictionary
Dict = {1: 'Geeks', 'name': 'For', 3: 'Geeks'}

# accessing a element using get()
# method
print("Accessing a element using get:")
print(Dict.get(3))

In [ ]:
# Creating a Dictionary
Dict = {'Dict1': {1: 'Geeks'},
		'Dict2': {'Name': 'For'}}

# Accessing element using key
print(Dict['Dict1'])
print(Dict['Dict1'][1])
print(Dict['Dict2']['Name'])

In [ ]:
# Initial Dictionary
Dict = { 5 : 'Welcome', 6 : 'To', 7 : 'Geeks',
		'A' : {1 : 'Geeks', 2 : 'For', 3 : 'Geeks'},
		'B' : {1 : 'Geeks', 2 : 'Life'}}
print("Initial Dictionary: ")
print(Dict)

# Deleting a Key value
del Dict[6]
print("\nDeleting a specific key: ")
print(Dict)

# Deleting a Key from
# Nested Dictionary
del Dict['A'][2]
print("\nDeleting a key from Nested Dictionary: ")
print(Dict)

In [ ]:
# Creating a Dictionary
Dict = {1: 'Geeks', 'name': 'For', 3: 'Geeks'}

# Deleting a key
# using pop() method
pop_ele = Dict.pop(1)
print('\nDictionary after deletion: ' + str(Dict))
print('Value associated to poped key is: ' + str(pop_ele))

In [ ]:
# Creating Dictionary
Dict = {1: 'Geeks', 'name': 'For', 3: 'Geeks'}

# Deleting an arbitrary key
# using popitem() function
pop_ele = Dict.popitem()
print("\nDictionary after deletion: " + str(Dict))
print("The arbitrary pair returned is: " + str(pop_ele))

In [ ]:
# Creating a Dictionary
Dict = {1: 'Geeks', 'name': 'For', 3: 'Geeks'}


# Deleting entire Dictionary
Dict.clear()
print("\nDeleting Entire Dictionary: ")
print(Dict)

Functions

In [ ]:
# A simple Python function to check
# whether x is even or odd


def evenOdd(x):
	if (x % 2 == 0):
		print "even"
	else:
		print "odd"


# Driver code to call the function
evenOdd(2)
evenOdd(3)

In [ ]:
def say_Hi():
	"Hello! geeks!"


print(say_Hi.__doc__)

In [ ]:
def square_value(num):
	"""This function returns the square
	value of the entered number"""
	return num**2


print(square_value(2))

print(square_value(-4))

In [ ]:
# Here x is a new reference to same list lst
def myFun(x):
	x[0] = 20


# Driver Code (Note that lst is modified
# after function call.
lst = [10, 11, 12, 13, 14, 15]
myFun(lst)
print(lst)

In [ ]:
def myFun(x):

	# After below line link of x with previous
	# object gets broken. A new object is assigned
	# to x.
	x = [20, 30, 40]


# Driver Code (Note that lst is not modified
# after function call.
lst = [10, 11, 12, 13, 14, 15]
myFun(lst)
print(lst)

In [ ]:
def myFun(x):

	# After below line link of x with previous
	# object gets broken. A new object is assigned
	# to x.
	x = 20


# Driver Code (Note that lst is not modified
# after function call.
x = 10
myFun(x)
print(x)

In [ ]:
def swap(x, y):
	temp = x
	x = y
	y = temp


# Driver code
x = 2
y = 3
swap(x, y)
print(x)
print(y)

In [ ]:
# Python program to demonstrate
# default arguments


def myFun(x, y=50):
	print("x: ", x)
	print("y: ", y)


# Driver code (We call myFun() with only
# argument)
myFun(10)

In [ ]:
# Python program to demonstrate Keyword Arguments
def student(firstname, lastname):
	print(firstname, lastname)


# Keyword arguments
student(firstname='Geeks', lastname='Practice')
student(lastname='Practice', firstname='Geeks')

In [ ]:
# Python program to illustrate
# *args for variable number of arguments


def myFun(*argv):
	for arg in argv:
		print(arg)


myFun('Hello', 'Welcome', 'to', 'GeeksforGeeks')

In [ ]:
# Python program to illustrate
# *kargs for variable number of keyword arguments


def myFun(**kwargs):
	for key, value in kwargs.items():
		print("%s == %s" % (key, value))


# Driver code
myFun(first='Geeks', mid='for', last='Geeks')

In [ ]:
# Python code to illustrate the cube of a number
# using lambda function


def cube(x): return x*x*x

cube_v2 = lambda x : x*x*x

print(cube(7))
print(cube_v2(7))

Error Handling

Exit Code 0 - Success

other codes - > pgm crash

In [ ]:
# Python program to handle simple runtime error
#Python 3

a = [1, 2, 3]
try:
	print ("Second element = %d" %(a[1]))

	# Throws error since there are only 3 elements in array
	print ("Fourth element = %d" %(a[3]))

except IndexError:
	print ("An error occurred")

In [ ]:
# Program to handle multiple errors with one except statement
# Python 3
try :
	a = 3
	if a < 4 :

		# throws ZeroDivisionError for a = 3
		b = a/(a-3)
	
	# throws NameError if a >= 4
	print ("Value of b = ", b)

# note that braces () are necessary here for multiple exceptions
except(ZeroDivisionError, NameError):
	print ("Error Occurred and Handled")

In [ ]:
# Program to depict else clause with try-except
# Python 3
# Function which returns a/b
def AbyB(a , b):
	try:
		c = ((a+b) / (a-b))
	except ZeroDivisionError:
		print ("a/b result in 0")
	else:
		print (c)

# Driver program to test above function
AbyB(2.0, 3.0)
AbyB(3.0, 3.0)

In [ ]:
# Python program to demonstrate finally

# No exception Exception raised in try block
try:
	k = 5//0 # raises divide by zero exception.
	print(k)

# handles zerodivision exception	
except ZeroDivisionError:
	print("Can't divide by zero")
	
finally:
	# this block is always executed
	# regardless of exception generation.
	print('This is always executed')

In [ ]:
# Program to depict Raising Exception

try:
	raise NameError("Hi there") # Raise Error
except NameError:
	print ("An exception")
	raise # To determine whether the exception was raised or not

Classes

Classes are created by keyword class.

Attributes are the variables that belong to a class.

Attributes are always public and can be accessed using the dot (.) operator

In [ ]:
# Python3 program to
# demonstrate instantiating
# a class


class D:
	
	# A simple class
	# attribute
	attr1 = "D"
	attr2 = "d"

	# A sample method
	def fun(self):
		print("I'm a", self.attr1)
		print("I'm a", self.attr2)

# Driver code
# Object instantiation
Rodger = D()

# Accessing class attributes
# and method through objects
print(Rodger.attr1)
Rodger.fun()

D
I'm a D
I'm a d

The self

Class methods must have an extra first parameter in the method definition. We do not give a value for this parameter when we call the method, Python provides it.

If we have a method that takes no arguments, then we still have to have one argument.

This is similar to this pointer in C++ and this reference in Java.

The __init__ method is similar to constructors

In [ ]:
# A Sample class with init method
class Person:

	# init method or constructor
	def __init__(self, name):
		self.name = name

	# Sample Method
	def say_hi(self):
		print('Hello, my name is', self.name)

p = Person('Dinesh')
p.say_hi()

Class and Instance Variables

In [ ]:
# Python3 program to show that the variables with a value
# assigned in the class declaration, are class variables and
# variables inside methods and constructors are instance
# variables.
	
# Class for Dog
class Dog:

	# Class Variable
	animal = 'dog'			

	# The init method or constructor
	def __init__(self, breed, color):
	
		# Instance Variable	
		self.breed = breed
		self.color = color	
	
# Objects of Dog class
Rodger = Dog("Pug", "brown")
Buzo = Dog("Bulldog", "black")

print('Rodger details:')
print('Rodger is a', Rodger.animal)
print('Breed: ', Rodger.breed)
print('Color: ', Rodger.color)

print('\nBuzo details:')
print('Buzo is a', Buzo.animal)
print('Breed: ', Buzo.breed)
print('Color: ', Buzo.color)

# Class variables can be accessed using class
# name also
print("\nAccessing class variable using class name")
print(Dog.animal)

In [ ]:
# Python3 program to show that we can create
# instance variables inside methods
	
# Class for Dog
class Dog:
	
	# Class Variable
	animal = 'dog'	
	
	# The init method or constructor
	def __init__(self, breed):
		
		# Instance Variable
		self.breed = breed			

	# Adds an instance variable
	def setColor(self, color):
		self.color = color
	
	# Retrieves instance variable	
	def getColor(self):	
		return self.color

# Driver Code
Rodger = Dog("pug")
Rodger.setColor("brown")
print(Rodger.getColor())

<h1>Inheritance</h1>

Single

Multiple

Multi level

Hyerarcical

Hybrid

In [ ]:
# A Python program to demonstrate inheritance

# Base or Super class. Note object in bracket.
# (Generally, object is made ancestor of all classes)
# In Python 3.x "class Person" is
# equivalent to "class Person(object)"
class Person(object):
	
	# Constructor
	def __init__(self, name):
		self.name = name

	# To get name
	def getName(self):
		return self.name

	# To check if this person is an employee
	def isEmployee(self):
		return False


# Inherited or Subclass (Note Person in bracket)
class Employee(Person):

	# Here we return true
	def isEmployee(self):
		return True

# Driver code
emp = Person("Geek1") # An Object of Person
print(emp.getName(), emp.isEmployee())

emp = Employee("Geek2") # An Object of Employee
print(emp.getName(), emp.isEmployee())

In [ ]:
# Python code to demonstrate how parent constructors
# are called.

# parent class
class Person( object ):	

		# __init__ is known as the constructor		
		def __init__(self, name, idnumber):
				self.name = name
				self.idnumber = idnumber
		def display(self):
				print(self.name)
				print(self.idnumber)

# child class
class Employee( Person ):		
		def __init__(self, name, idnumber, salary, post):
				self.salary = salary
				self.post = post

				# invoking the __init__ of the parent class
				Person.__init__(self, name, idnumber)

				
# creation of an object variable or an instance
a = Employee('Rahul', 886012, 200000, "Intern")	

# calling a function of the class Person using its instance
a.display()

In [ ]:
# Python example to show the working of multiple
# inheritance
class Base1(object):
	def __init__(self):
		self.str1 = "Geek1"
		print("Base1")

class Base2(object):
	def __init__(self):
		self.str2 = "Geek2"		
		print("Base2")

class Derived(Base1, Base2):
	def __init__(self):
		
		# Calling constructors of Base1
		# and Base2 classes
		Base1.__init__(self)
		Base2.__init__(self)
		print("Derived")
		
	def printStrs(self):
		print(self.str1, self.str2)
		

ob = Derived()
ob.printStrs()

In [ ]:
# A Python program to demonstrate inheritance

# Base or Super class. Note object in bracket.
# (Generally, object is made ancestor of all classes)
# In Python 3.x "class Person" is
# equivalent to "class Person(object)"
class Base(object):
	
	# Constructor
	def __init__(self, name):
		self.name = name

	# To get name
	def getName(self):
		return self.name


# Inherited or Sub class (Note Person in bracket)
class Child(Base):
	
	# Constructor
	def __init__(self, name, age):
		Base.__init__(self, name)
		self.age = age

	# To get name
	def getAge(self):
		return self.age

# Inherited or Sub class (Note Person in bracket)
class GrandChild(Child):
	
	# Constructor
	def __init__(self, name, age, address):
		Child.__init__(self, name, age)
		self.address = address

	# To get address
	def getAddress(self):
		return self.address		

# Driver code
g = GrandChild("Geek1", 23, "Noida")
print(g.getName(), g.getAge(), g.getAddress())

In [ ]:
# Python program to demonstrate private members
# of the parent class
class C(object):
	def __init__(self):
			self.c = 21

			# d is private instance variable
			self.__d = 42	
class D(C):
	def __init__(self):
			self.e = 84
			C.__init__(self)
object1 = D()

# produces an error as d is private instance variable
print(object1.d)

Modules

In [ ]:
# A simple module, calc.py

def add(x, y):
	return (x+y)

def subtract(x, y):
	return (x-y)

In [ ]:
# importing module calc.py
import calc

print(add(10, 2))

In [ ]:
# importing sqrt() and factorial from the
# module math
from math import sqrt, factorial

# if we simply do "import math", then
# math.sqrt(16) and math.factorial()
# are required.
print(sqrt(16))
print(factorial(6))

In [ ]:
# Import built-in module random
from random import *

print(dir(random))

Packages

To tell Python that a particular directory is a package, we create a file named __init__.py inside it and then it is considered as a package and we may create other modules and sub-packages within it. 

This __init__.py file can be left blank or can be coded with the initialization code for the package.

To create a package in Python, we need to follow these three simple steps:

First, we create a directory and give it a package name, preferably related to its operation.

Then we put the classes and the required functions in it.

Finally we create an __init__.py file inside the directory, to let Python know that the directory is a package.

Builtin Modules

https://docs.python.org/3/py-modindex.html

Random Numbers

In [ ]:
# Python3 program to demonstrate the use of
# choice() method

# import random
import random

# prints a random value from the list
list1 = [1, 2, 3, 4, 5, 6]
print(random.choice(list1))

# prints a random item from the string
string = "striver"
print(random.choice(string))

In [ ]:
# Python code to demonstrate the working of
# choice() and randrange()

# importing "random" for random operations
import random

# using choice() to generate a random number from a
# given list of numbers.
print("A random number from list is : ", end="")
print(random.choice([1, 4, 8, 10, 3]))

# using randrange() to generate in range from 20
# to 50. The last parameter 3 is step size to skip
# three numbers when selecting.
print("A random number from range is : ", end="")
print(random.randrange(20, 50, 3))

A random number from list is : 8
A random number from range is : 29

In [ ]:
# Python code to demonstrate the working of
# random() and seed()

# importing "random" for random operations
import random

# using random() to generate a random number
# between 0 and 1
print("A random number between 0 and 1 is : ", end="")
print(random.random())

# using seed() to seed a random number
random.seed(5)

# printing mapped random number
print("The mapped random number with 5 is : ", end="")
print(random.random())

# using seed() to seed different random number
random.seed(7)

# printing mapped random number
print("The mapped random number with 7 is : ", end="")
print(random.random())

# using seed() to seed to 5 again
random.seed(5)

# printing mapped random number
print("The mapped random number with 5 is : ", end="")
print(random.random())

# using seed() to seed to 7 again
random.seed(7)

# printing mapped random number
print("The mapped random number with 7 is : ", end="")
print(random.random())

A random number between 0 and 1 is : 0.1641869853160539
The mapped random number with 5 is : 0.6229016948897019
The mapped random number with 7 is : 0.32383276483316237
The mapped random number with 5 is : 0.6229016948897019
The mapped random number with 7 is : 0.32383276483316237

In [ ]:
# import the random module
import random


# declare a list
sample_list = ['A', 'B', 'C', 'D', 'E']

print("Original list : ")
print(sample_list)

# first shuffle
random.shuffle(sample_list)
print("\nAfter the first shuffle : ")
print(sample_list)

# second shuffle
random.shuffle(sample_list)
print("\nAfter the second shuffle : ")
print(sample_list)

In [ ]:
# Python code to demonstrate the working of
# shuffle() and uniform()

# importing "random" for random operations
import random

# Initializing list
li = [1, 4, 5, 10, 2]

# Printing list before shuffling
print("The list before shuffling is : ", end="")
for i in range(0, len(li)):
	print(li[i], end=" ")
print("\r")

# using shuffle() to shuffle the list
random.shuffle(li)

# Printing list after shuffling
print("The list after shuffling is : ", end="")
for i in range(0, len(li)):
	print(li[i], end=" ")
print("\r")

# using uniform() to generate random floating number in range
# prints number between 5 and 10
print("The random floating point number between 5 and 10 is : ", end="")
print(random.uniform(5, 10))

The list before shuffling is : 1 4 5 10 2
The list after shuffling is : 5 2 4 10 1
The random floating point number between 5 and 10 is : 6.203315000635126

TypeError: ignored

In [ ]:
# Python3 program explaining work
# of randint() function

# imports random module
import random

# Generates a random number between
# a given positive range
r1 = random.randint(0, 10)
print("Random number between 0 and 10 is % s" % (r1))

# Generates a random number between
# two given negative range
r2 = random.randint(-10, -1)
print("Random number between -10 and -1 is % d" % (r2))

# Generates a random number between
# a positive and a negative range
r3 = random.randint(-5, 5)
print("Random number between -5 and 5 is % d" % (r3))

In [ ]:
# imports random module
import random

'''If we pass floating point values as
parameters in the randint() function'''

r1 = random.randint(1.23, 9.34)
print(r1)

Pathlib module
Path classes in Pathlib module are divided into pure paths and concrete paths. Pure paths provides only computational operations but does not provides I/O operations, while concrete paths inherit from pure paths provides computational as well as I/O operations.

![image.png]()

In [ ]:
from pathlib import Path
#path=Path("Test.txt")
#path.mkdir()
#path1=Path("Test1.txt")
#path1.mkdir()
#path1=Path("filename")
#print(patj1.exists) # Returns boolean
#path1.mkdir() to create new file
#path1.rmdir() to delete file
#path1.glob("*.*") to iterate all files in currend directory
for file in Path().glob("*.*"):
    print(file)

.config
Test1.txt
Test.txt

Pypi - To get packages

https://pypi.org/


openpyxl

In [ ]:
pip install openpyxl

Requirement already satisfied: openpyxl in /usr/local/lib/python3.7/dist-packages (2.5.9)
Requirement already satisfied: jdcal in /usr/local/lib/python3.7/dist-packages (from openpyxl) (1.4.1)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl) (1.1.0)

In [ ]:
import openpyxl as xl
wb = xl.load_workbook("transactions.xlsx")
sheet=wb['Sheet1']
cell = sheet["a1"] # Same -> cell = sheet.cell(1 , 1) ---- row number, col number
print(cell.value)

transaction_id

In [ ]:
print(sheet.max_row) # prints no of rows in the sheet

4

In [ ]:
for row in range(2, sheet.max_row + 1):
    cell = sheet.cell(row, 3)
    print(cell.value)

6
7
8

In [ ]:
for row in range(2, sheet.max_row + 1):
    cell = sheet.cell(row, 3)
    corrected_price = cell.value * 0.9
    corrected_price_cell = sheet.cell(row, 4)
    corrected_price_cell.value = corrected_price

wb.save("transactions1.xlsx")

In [ ]:
from openpyxl.chart import BarChart, Reference

wb = xl.load_workbook("transactions1.xlsx")
sheet=wb['Sheet1']

values = Reference(sheet, min_row = 2, max_row = sheet.max_row, min_col = 4, max_col = 4)

chart = BarChart()
chart.add_data(values)
sheet.add_chart(chart, "e2")

wb.save("transactions2.xlsx")


# using path we can get all file names, we can pass those in a loop and process many sheets